.header {
    width: 800px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #666666;
    font-size: 65px;
    font-weight: 700;
}

.header-content {
    width: 100%;
    height: 100%;
    position: relative;
}

.header-name {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    color: rgb(255, 91, 91);
}

.header-img {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.main {
    display: flex;
    height: 450px;
    width: 800px;
}

.content-left {
    width: 30%;
    height: 100%;
}

.navbar {
    position: relative;
    width: 100%;
    height: 100%;
}

.bg-navbar,
.nav-img {
    width: 100%;
    height: 100%;    
}

.city-names {
    position: absolute;
    top: 0;
    left: 0;
}

.city-list {
    list-style: none;
    padding-top: 30px;
    padding-left: 25px;
    font-size: 18px;
    line-height: 25px;
}

.city-name {
    color: blue;
}

.content-right {
    width: 70%;
    height: 100%;
    background-color: #f1f1f1;
}

.content {
    position: absolute;
    top: 0;
    left: 0;
    color: #0e0d0d;
}

.main-content {
    position: relative;
    width: 100%;
    height: 100%;
}

.bg-content,
.city-name-img {
    width: 100%;
    height: 100%;
}

.name {
    font-size: 50px;
    padding-left: 52px;
}

.description {
    padding: 0px 21px;
    text-align: justify;
    font-size: 18px;
}

.footer {
    width: 800px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    background-color: #666666;
    color: rgb(255 46 46);
    font-weight: 600;
    position: relative;
}

.bg-footer {
    width: 100%;
    height: 100%;
}


.footer-img {
    width: 100%;
    height: 100%;
}

.footer-content {
    position: absolute;
}
